@model BeadKeychainDesignPlatform.Models.BeadDto
@{
    ViewBag.Title = "DeleteConfirm";
}
<div class="menuLink">
    <a href="/Bead/Details/@Model.BeadId">Back</a>
</div>
<div class="delete">
    <h2>Are you sure you want to delete this bead?</h2>

    <h2>@Model.BeadName</h2>
    <div>Description: @Model.BeadDescription </div>
    <div>Colour: @Model.ColourName</div>
    <div>Colour Property: @Model.ColourProperty</div>
    <div class="choosebox">
        <form action="/Bead/Delete/@Model.BeadId" method="POST">
            <input type="submit" value="Confirm Delete" id="deletebutton"/>

        </form>
        <div id="cancelbutton">
            <a href="/Bead/Details/@Model.BeadId">Cancel</a>
        </div>
    </div>
</div>

<style>
    .choosebox{
        display:flex;
        justify-content:space-evenly;
    }
    .delete {
        border: dashed 4px #000;
        margin: 5em;
        padding: 3em;
        background-color: #ffb7b7;
        text-align:center;
    }
    #deletebutton {
        background-color: #890000;
        border: solid 1px #890000;
        border-radius: 5px;
        font-weight: bold;
        color: white;
    }
    #cancelbutton {
        background-color: white;
        border: solid 1px white;
        border-radius: 5px;
        font-weight: bold;



    }
    #cancelbutton a {
        text-decoration: none;
        color: black;
    }
    .menuLink {
        margin: 2rem 0;
    }

        .menuLink a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
</style>