@model BeadKeychainDesignPlatform.Models.BeadDto
@{
    ViewBag.Title = "Details";
}
<a href="/Bead/List">Back to all the beads</a>
<h2>@Model.BeadName</h2>
<p>Description: @Model.BeadDescription</p>
<p>Colour: @Model.ColourName</p>
<p>Colour Property: @Model.ColourProperty</p>

