@model IEnumerable<BeadKeychainDesignPlatform.Models.BeadDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Beads</h2>
<a href="/Bead/New">New Bead</a>
@foreach (var bead in Model)
            {
                <div class="beadContainer">
                    <div>
                        <a href="/Bead/Details/@bead.BeadId"><img src="~/Content/img/beads/@bead.BeadPicture" width="300" /></a>
                    </div>
                    <div>
                        <h2><a href="/Bead/Details/@bead.BeadId">@bead.BeadName</a></h2>
                        <p>Description: @bead.BeadDescription</p>
                        <p>Colour: @bead.ColourName</p>
                        <p>Colour Property: @bead.ColourProperty</p>
                    </div>
                </div>
            }

<style>
    .beadContainer{
        display:flex;
        margin:1em 0;
        gap:1em;
    }
</style>