@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <h1 background="~/Content/img/beads/111.jpg">Welcome to Bead Keychain Design Platform</h1>
    <a href="/Bead/List" id="button">Discover More</a>
    <a href="/Bead/List"><img src="~/Content/img/beads/111.jpg" /></a>
</div>

<style>
    div {
        background-image: url("~/Content/img/beads/IMG_2398.jpg");
    }
    img{
        width:100%;
        height:auto;
        margin:1.3rem 0 0 0;
    }
    h1{
        margin:1.7rem 0;
    }
    #button {
        border: solid 2px black;
        padding: 0.7rem;
        margin: 2em 0;
        text-decoration: none;
        background-color: black;
        color: #ADD8E6;
        font-weight: bold;
        border-radius: 10px;
    }

    .banner #button:hover {
        background-color: #ADD8E6;
        color: black;
        border: solid 2px #ADD8E6;
    }
</style>