@model BeadKeychainDesignPlatform.Models.KeychainDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this keychain?</h2>
<a href="/Keychain/List">Cancel</a>
<h2>@Model.KeychainName</h2>
<form action="/Keychain/Delete/@Model.KeychainId" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>