@model BeadKeychainDesignPlatform.Models.ViewModels.DetailsBeadColour
    @{
    ViewBag.Title = "Details";
}

<div>
    <a href="/BeadColour/List">Back to all the bead colours</a>
</div>
<div>
    <a href="/BeadColour/Edit/@Model.specificColour.ColourId">Update</a>
</div>
<div>
    <a style="color:#ab2020;" href="/BeadColour/DeleteConfirm/@Model.specificColour.ColourId">Delete</a>
</div>

<h2>@Model.specificColour.ColourProperty @Model.specificColour.ColourName</h2>

<div>
    <h3>Beads related to this Colour</h3>
    @foreach(var bead in Model.relatedBeads)
            {
                <a href="/Bead/Details/@bead.BeadId">@bead.BeadName</a>
            }
</div>
