
@{
    ViewBag.Title = "New";
}

<h2>Create a bead colour</h2>

<form action="/BeadColour/Create" method="POST">
    <div>
        <label>Colour Name:</label>
        <input name="ColourName" type="text" />
    </div>
    <div>
            <label>Colour Property:</label>
            <input name="ColourProperty" type="radio" id="Solid" value="Solid" />
            <label for="Solid">Solid</label>
            <input name="ColourProperty" type="radio" id="Transparent" value="Transparent" />
            <label for="Transparent">Transparent</label>
    </div>
    <div>
        <input type="submit" value="Add A Bead Colour" />
    </div>

</form>